@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;300;400;500;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  background: url("../assets/img/resized-bg.png") no-repeat right top;
  font-family: Encode Sans, sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: initial;
  color: initial;
  letter-spacing: -0.6px;
}

section {
  padding-left: 70px;
  padding-right: 70px;
}

header {
  padding-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: 800;
  line-height: initial;
  color: #5E40A4;
  margin-right: 61px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: initial;
  color: #575757;
}

.hamburger {
  display: none;
}

.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul li:not(:last-child) {
  margin-right: 53px;
}

.second-section {
  margin-top: 189px;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 87px;
  color: #5E40A4;
  width: 40%;
}

.stores {
  margin: 34px 0 194px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
}

.location-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 123px;
  padding-bottom: 123px;
  background-color: #5E40A4;
  width: 100%;
  color: #ffffff;
}

.location-section p {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  color: inherit;
}

.location-section button {
  margin-right: 143px;
  padding: 18px 64px;
  font-size: 25px;
  font-weight: 500;
  line-height: 31px;
  color: #5E40A4;
  color: #5E40A4;
  border-radius: 7px;
  border-style: none;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: inherit;
  margin-bottom: 14px;
}

.pet-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 47px;
  padding-bottom: 15px;
}

.categ-section {
  margin-bottom: 140px;
}

.categ-section h2 {
  color: #5E40A4;
  margin-bottom: 0;
}

.categ-section .categ-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.categ-section .categ-cards :not(:last-child) {
  margin-right: 20px;
}

.categ-section .categ-cards .card {
  background: #5E40A4;
  padding: 0 34px 32px 34px;
  color: #ffffff;
  border-radius: 10px;
}

.categ-section .categ-cards .card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 37px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.categ-section .categ-cards .card p {
  margin-right: 46px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 26px;
}

.categ-section .categ-cards .card a {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #ffffff;
  text-decoration: underline;
}

.feedback-section {
  margin-bottom: 211px;
}

.feedback-section h2 {
  color: #5E40A4;
  margin-bottom: 0;
}

.feedback-section .feedback-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.feedback-section .feedback-cards :not(:last-child) {
  margin-right: 20px;
}

.feedback-section .feedback-cards .feedback-card {
  padding: 24px 24px 43px 27px;
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid rgba(94, 64, 164, 0.18);
  -webkit-box-shadow: 0px 15px 30px rgba(94, 64, 164, 0.14);
          box-shadow: 0px 15px 30px rgba(94, 64, 164, 0.14);
}

.feedback-section .feedback-cards .feedback-card-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.feedback-section .feedback-cards .feedback-card-icons-container img {
  margin-right: 8px;
}

.feedback-section .feedback-cards .feedback-card-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  color: #444444;
  margin-bottom: 10px;
}

.feedback-section .feedback-cards .feedback-card h5 + p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #7C7C7C;
  margin-bottom: 26px;
}

.feedback-section .feedback-cards .feedback-card .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #444444;
}

.feedback-section .feedback-cards .feedback-card .author img {
  margin-right: 8px;
}

footer {
  background-color: #5E40A4;
  padding: 38px 70px 46px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .right h4 {
  font-size: 40px;
  font-weight: 800;
  line-height: 51px;
  color: #ffffff;
  margin-bottom: 38px;
}

footer .right .stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 56px;
}

footer .right .stores:first-child {
  margin-right: 9px;
}

footer .right p {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  color: #ffffff;
}

footer .left {
  width: 30%;
}

footer .left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  color: #ffffff;
  gap: 20px;
}

footer .left .social-media {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .left .social-media :not(:last-child) {
  margin-right: 39px;
}

@media (max-width: 768px) {
  .nav {
    display: block;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    font-size: 16px;
    font-weight: 500;
    line-height: initial;
    color: #575757;
  }
  section {
    padding-left: 16px;
    padding-right: 16px;
  }
  .langbar {
    display: none;
  }
  .navmenu {
    position: fixed;
    left: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .navmenu .nav-item {
    margin: 16px 0;
  }
  .navmenu.active {
    left: 0;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .second-section {
    margin-top: 70px;
  }
  .second-section h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 62px;
    color: #5E40A4;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }
  .stores {
    margin-top: 25px;
    margin-bottom: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .location-section {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
    padding-bottom: 34px;
    background-color: #5E40A4;
    width: 100%;
    color: #ffffff;
  }
  .location-section p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: inherit;
  }
  .location-section button {
    margin: 24px auto 0 auto;
    padding: 18px 64px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #5E40A4;
  }
  .location-section h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    color: inherit;
    margin-bottom: 14px;
  }
  .pet-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 47px;
  }
  .pet-section h1 {
    width: 50%;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 62px;
    color: #5E40A4;
    margin-bottom: 10px;
  }
  .categ-section {
    margin: 15px 16px 45px 16px;
  }
  .categ-section h2 {
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    color: #5E40A4;
  }
  .categ-section .categ-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 22px;
    gap: 20px;
  }
  .categ-section .categ-cards .card {
    margin-right: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #ffffff;
  }
  .categ-section .categ-cards .card-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color: #ffffff;
    margin-bottom: 23px;
  }
  .feedback-section {
    margin-bottom: 70px;
  }
  .feedback-section h2 {
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    color: #5E40A4;
  }
  .feedback-section .feedback-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 21px;
    gap: 18px;
  }
  .feedback-section .feedback-cards .feedback-card {
    margin-right: 0;
  }
  footer {
    background-color: #5E40A4;
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .right {
    margin-bottom: 36px;
  }
  footer .right h4 {
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    color: #ffffff;
    margin-bottom: 25px;
  }
  footer .right .stores {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 36px;
  }
  footer .right p {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color: #ffffff;
  }
  footer .left {
    width: 100%;
  }
  footer .left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color: #ffffff;
  }
  footer .left .social-media {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}

@media (max-width: 900px) and (min-width: 768px) {
  .second-section {
    margin-top: 19px;
  }
  .pet-section h1 {
    width: 70%;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 62px;
    color: #5E40A4;
  }
  .pet-section img {
    width: 70%;
  }
  .location-section {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px;
  }
  .location-section button {
    margin: 24px auto 0 auto;
  }
  .categ-section .categ-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .categ-section .categ-cards .card {
    width: 40%;
    margin-bottom: 50px;
  }
  .feedback-section {
    margin-bottom: 70px;
  }
  .feedback-section h2 {
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    color: #5E40A4;
  }
  .feedback-section .feedback-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 21px;
  }
  .feedback-section .feedback-cards .feedback-card {
    margin-bottom: 50px;
    width: 40%;
  }
}
